*.DS_Store

documents/llncs.bbl
documents/llncs.blg
documents/llncs.log
documents/llncs.out
documents/llncs.aux
documents/llncs.pdf
documents/llncs.synctex.gz(busy)
documents/llncs.synctex.gz

runtime-EclipseApplication/

/source/dk.itu.mdd.policyengine/bin/
/source/dk.itu.mdd.policyengine.dsl/bin/
/source/dk.itu.mdd.policyengine.dsl.tests/bin/
/source/dk.itu.mdd.policyengine.dsl.ui/bin/
/source/dk.itu.mdd.policyengine.time/

