<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dk.itu.kben.building.presentation.BuildingModelWizardID"
            name="%_UI_BuildingModelWizard_label"
            class="dk.itu.kben.building.presentation.BuildingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BuildingModelFile.gif">
         <description>%_UI_BuildingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="dk.itu.kben.building.presentation.BuildingEditorID"
            name="%_UI_BuildingEditor_label"
            icon="icons/full/obj16/BuildingModelFile.gif"
            extensions="building"
            class="dk.itu.kben.building.presentation.BuildingEditor"
            contributorClass="dk.itu.kben.building.presentation.BuildingActionBarContributor">
      </editor>
   </extension>

</plugin>
